/* .luz {
    color: blue;

}


.card-back {
    z-index: 1;
    background: inherit;
    overflow: hidden;
    border-radius: 20px;
    border-color: #3498db;

}


.card-back::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(52, 152, 219, .5);
    filter: blur(2px);
    margin: -20px;

}

.img-bor {
    border-radius: 20px 20px 20px 20px;

}

.img-bor:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
}

.button {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #10476bf8 inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border-radius: 15px;
}

.button:hover {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 30px 0 #3498db1e inset, 0 0 30px 4px #3498db;
    transform: scale(1.05) rotate(-1deg);

}

.text1 {
    border-color: #3498db;
    color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #10476bf8 inset, 0 0 0 0 #3498db;
}

.img-fluid {
    opacity: 0.6;
    border-radius: 20px;
}

.dropdown-menu2 {
    z-index: 1;
    background: inherit;
    overflow: hidden;
    border-radius: 20px;
    border-color: #3498db
}

.dropdown-menu2::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(52, 152, 219, .5);
    filter: blur(2px);
    margin: -20px;
}


.container-uno {
    width: 770px;
    height: 430px;
    border-color: #3498db;
    position: absolute;
    margin-left: 350px;
    border-radius: 30px;
    margin-top: 85px;
    padding: auto;
    color: rgb(255, 255, 255);
}


.container-uno::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(5, 87, 141, 0.5);
    filter: blur(2px);
    margin: -20px;
    border-radius: 20px;


}

.nombre {
    margin-left: 460px;
    margin-top: 5px;
    text-align: left;
}

.footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

#imagenper {
    left: 30px;
    top: -40px;
    width: 430px;
    height: 280px;
    border-radius: 20px;
    position: absolute;
    margin-top: 180px;
    margin-left: 290px;
    object-fit: cover;
    box-shadow: 2px 2px 10px 0px rgba(240, 237, 237, 0.75);

}

.descripcion-person {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;

}

.descripcion-planet {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: justify;

}

@media (max-width: 535px) {
    .hidden-xs {
        display: none !important;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    Footer height
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#app {
    padding-bottom: 2.5rem;
    Footer height
} */